<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable" style="background-color:#525861;">
      <h1 class="title" style="color:white; text-align:center">קניות בצ'יק</h1>
    </ion-header-bar>
    <ion-content style="background-color:#393F4A">
      <ion-list>
        <ion-item menu-close style="direction:rtl; background-color:#393F4A; color:white;padding: 0px;padding-right: 10px;" >
        <a class="button button-icon icon ion-person" style="color:white;padding:0px"></a>
        <label style="font-family:Tahoma;line-height: 47px;margin-right: 10px;">הפרופיל שלי<label> 
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
